.uber-button-1 {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  font-family: Urbanist;
  padding: 8px 15px;
  border-radius: 5px;
}

.uber-button-2 {
  background-color: rgb(230, 230, 230);
  border: none;
  margin-left: 13px;
  font-family: Urbanist;
  padding: 8px 15px;
  border-radius: 5px;
}